Create a list of 10 elements of four different data types like int, string, complex and float.

In [7]:
list = [1, 3.5, 4.6, 7+8j, 1+2j,"hello", "world", 100, 200.65 ]

print(list)

[1, 3.5, 4.6, (7+8j), (1+2j), 'hello', 'world', 100, 200.65]

Create a list of size 5 and execute the slicing structure

In [6]:
lst = ['z', 'y','x','w','v']

print(lst[::-1])

['v', 'w', 'x', 'y', 'z']

Write a program to get the sum and multiply of all the items in a given list.

In [10]:
import math

lst = [1, 3.5, 4.6]
Sum = sum(lst)
Product = math.prod(lst)

print(Sum)
print(Product)

9.1
16.099999999999998

Find the largest and smallest number from a given list.

In [13]:
lst = [1600, 100, 496,798,395,800,223,5066,7987, 10000, 9567]
Largenum = max(lst)
Smallnum= min(lst)

print(Largenum)
print(Smallnum)

10000
100

Create a new list which contains the specified numbers after removing the even numbers from a
predefined list.

In [19]:
lst = [2,5,6,8,34,89,19,40,60]
newlst = []
for i in (lst):
    if(i % 2 != 0):
       newlst.append(i)
print(newlst)

[5, 89, 19]

Create a list of elements such that it contains the squares of the first and last 5 elements between
1 and30 (both included).

In [37]:
def printValues():
    lst =[]
    for i in range(1,31):
        lst.append(i**2)
    print(lst[:5])
    print(lst[-5:])

printValues()

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

7. Write a program to replace the last element in a list with another list.
Sample input: [1,3,5,7,9,10], [2,4,6,8]
Expected output: [1,3,5,7,9,2,4,6,8]

In [26]:
lst = [1,3,5,7,9,10]
lst[-1:] = [2,4,6,8]

print(lst)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

8. Create a new dictionary by concatenating the following two dictionaries:
Sample input: a={1:10,2:20} b={3:30,4:40}
Expected output: {1:10,2:20,3:30,4:40}

In [28]:
a={1:10,2:20} 
b={3:30,4:40}

new_dict = {**a , **b}
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40}

Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1
and n(both 1 and n included).
Sample input: n=5
Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

In [35]:
n=int(input("Input a number "))
dict = {}

for x in range(1,n+1):
    dict[x]=x*x

print(dict)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

10. Write a program which accepts a sequence of comma-separated numbers from console and
generates a list and a tuple which contains every number in the form of string.
Sample input: 34,67,55,33,12,98
Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

In [36]:
numbers = input("Sequence of comma separated numbers : ")
list = numbers.split(",")
tuple = tuple(list)
print(list)
print(tuple)

Sequence of comma separated numbers : 5,6,7,3,8,9,
['5', '6', '7', '3', '8', '9', '']
('5', '6', '7', '3', '8', '9', '')