1. Create three variables in a single line and assign values to them in such a manner that each one of
them belongs to a different data type.

In [6]:
a, b, c = 1, 2.01, "string"

print(type(a), type(b), type(c))

<class 'int'> <class 'float'> <class 'str'>

2. Create a variable of type complex and swap it with another variable of type integer.

In [15]:
a=2+3j
b=0
#before swap , b-type is integer
print(b, type(b))
b=a
#after swap , b-type is integer
print(b, type(b))

3 <class 'int'>
(4+5j)

3. Swap two numbers using a third variable and do the same task without using any third variable.

In [21]:
#Swap with third variable :
a = 4+5j
b = 3
temp = 0
#swapping
temp = a
a = b
b = temp
print(a,b)

#Swap without third variable :
a=2+3j
b=6
#swapping
a, b = b, a
print(a, b)

3 (4+5j)
6 (2+3j)

5. Write a program to complete the task given below:
Ask users to enter any 2 numbers in between 1-10 , add the two numbers and keep the sum in
another variable called z. Add 30 to z and store the output in variable result and print result as the
final output.

In [29]:
a = int(input("Enter any two numbers between 1-10"))
b = int(input("Enter any two numbers between 1-10"))
result = 0

z = a + b
result = z + 30

print(result)

Enter any two numbers between 1-105
Enter any two numbers between 1-104
39

6. Write a program to check the data type of the entered values.
HINT: Printed output should say - The data type of the input value is : int/float/string/etc

In [33]:
a = input("Enter any value")
b = input("Enter any value")

print("The data type of the input value is : " ,type(a)) #Python considers it as string unless we type cast to int
print("The data type of the input value is : " ,type(b))

Enter any value 5
Enter any value go
The data type of the input value is :  <class 'str'>
The data type of the input value is :  <class 'str'>

7. Create Variables using formats such as Upper CamelCase, Lower CamelCase, SnakeCase and
UPPERCASE.

In [39]:
from re import sub

word = "HelloWorld"

def snake_case(word):
    return '_'.join(
    sub('([A-Z][a-z]+)', r' \1',
    sub('([A-Z]+)', r' \1',
    word.replace('-', ' '))).split()).lower()

print(snake_case(word))
print(word.upper())
print(word.lower())

hello_world
HELLOWORLD
helloworld

8. If one data type value is assigned to ‘a’ variable and then a different data type value is assigned to ‘a’
again. Will it change the value? If Yes then Why?

In [41]:
a = 4.5
b = 3+4j

a=b
print(a)

#Yes , Python has the option to type cast any variable and also the variable is not a constant variable so hence it is able 
#hange its datatype.

(3+4j)